// Grayscale
@black-10:                darken(#fff, 10%);
@black-20:                darken(#fff, 20%);
@black-30:                darken(#fff, 30%);
@black-40:                darken(#fff, 40%);
@black-50:                darken(#fff, 50%);
@black-60:                darken(#fff, 60%);
@black-70:                darken(#fff, 70%);
@black-80:                darken(#fff, 80%);
@black-90:                darken(#fff, 90%);

// Brand colors
@brand-primary:           #428bca;
@brand-success:           #5cb85c;
@brand-warning:           #f0ad4e;
@brand-danger:            #d9534f;
@brand-info:              #5bc0de;

// Scaffolding
@body-background:         #fff;
@text-color:              @black-50;
@base-spacing-unit:       18px;

// Links
@link-color:              @brand-primary;
@link-color-hover:        darken(@link-color, 15%);

// Typography
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         (@font-size-base * 1.25); // ~18px
@font-size-small:         (@font-size-base * 0.85); // ~12px
@font-size-mini:          (@font-size-base * 0.75); // ~11px

@line-height-base:        1.4;

@headings-font-family:    inherit; // empty to use BS default, @font-family-base
@headings-font-weight:    500;

// Forms
@input-color-placeholder: lighten(@text-color, 25%);

// Grid
// Used with the grid mixins below
@grid-columns:            12;
@grid-column-padding:     15px; // Left and right inner padding
@grid-float-breakpoint:   768px;

